<h1>Ваш экспорт готов!</h1>
<p>Привет, <%= @user.email %>,</p>
<p>Все ваши покерные сессии были собраны в один файл.</p>

<p>
  <strong><%= link_to 'Скачать CSV файл', @download_url %></strong>
</p>

<p>Ссылка будет активна в течение 24 часов.</p>